:root {
  --primary-dark: #23010c;
  --primary-light: #bc9ca9;
  --accent-color: #68515a;
  --text-light: #ffffff;
  --font-primary: "Lora", serif;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: var(--font-primary);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  overflow-x: hidden;
}

#nav-image {
  width: 100%;
  height: 30vh;
  min-height: 200px;
  background-image: url("../images/naslovna.jpg");
  background-size: cover;
  z-index: -1;
}

#navbar {
  background: rgba(35, 1, 12, 0.7);
  padding: 0.625rem 1.25rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-primary);
}

#logo img {
  margin-top: 8%;
  height: 4vh;
  min-height: 30px;
}

#navlinks {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-left: auto;
}

#navlinks li {
  margin-right: 6vw;
}

#navlinks a {
  text-decoration: none;
  color: var(--text-light);
  font-size: 1rem;
  transition: color 0.3s;
}

#navlinks a:hover {
  color: var(--primary-light);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#navlinks a:active {
  color: #45343b;
}

.hamburger-line {
  width: 25px;
  height: 2px;
  background-color: var(--text-light);
  margin: 2px 0;
}

#hamburger {
  display: none;
}

#navbar.stuck {
  background: rgb(35, 1, 12);
}

#home {
  width: 100%;
  padding: 6.25rem 1rem;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title {
  width: 40%;
  float: right;
  text-align: center;
}

#title-flowers {
  font-size: 6.5rem;
  color: var(--primary-light);
  font-weight: bold;
  margin-bottom: 0%;
}

#subtitle-flowers {
  font-size: 3rem;
  color: var(--primary-light);
  margin-top: 0%;
}

#home-image-div {
  position: relative;
  display: flex;
  align-items: center;
  background-image: url("../images/slika.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 60%;
  min-height: 700px;
  height: 65vh;
  justify-content: center;
  border-radius: 50px;
}

#home-image-div-overlay {
  width: 60%;
  height: 60%;
  background-color: rgba(35, 1, 12, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

#home-image-div-overlay p {
  font-family: var(--font-primary);
  color: var(--text-light);
  font-weight: normal;
  font-size: 1.5rem;
  margin-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

#selection-button {
  display: inline-block;
  padding: 0.625rem 1.875rem;
  background-color: var(--primary-light);
  color: var(--text-light);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.3rem;
  font-family: var(--font-primary);
  margin-top: 40px;
  text-decoration: none;
}

#about {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  background-image: url("../images/slika1.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  box-sizing: border-box;
}

#information {
  width: 70%;
  max-width: 1000px;
  background-color: rgba(35, 1, 12, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.4rem;
  text-align: center;
  border-radius: 50px;
  margin: 2rem 0;
  box-sizing: border-box;
}

#information h1 {
  font-family: var(--font-primary);
  font-weight: bold;
  font-style: oblique;
  font-size: 2.5rem;
  position: relative;
  color: var(--primary-light);
}

#information p {
  font-family: var(--font-primary);
  font-weight: normal;
  font-size: 1.2rem;
  margin-bottom: 5%;
  text-align: justify;
  color: var(--text-light);
}

#popular-selection {
  width: 100%;
  position: relative;
  padding: 2rem 0rem;
}

#popular-selection-bg {
  background-image: url("../images/bg1.jpg");
  background-size: cover;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: var(--primary-light);
}

.image-description {
  text-align: center;
  margin: 10px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  transform: translateY(50px);
}

.image-description img {
  margin: 10px;
  width: 100%;
  height: auto;
  border-radius: 50%;
  box-sizing: border-box;
  border: 4px solid var(--primary-light);
  max-width: 300px;
  transition: transform 0.3s ease;
}

.image-description p {
  margin: 10px 0;
  font-weight: bold;
  background-color: #f2eded;
  padding: 0.625rem;
  border: 2px solid var(--primary-light);
  border-radius: 10px;
  color: var(--primary-dark);
  width: 90%;
}

.image-description:hover img {
  transform: scale(1.1) rotate(5deg);
}

.image-description.show {
  opacity: 1;
  transform: translateY(0);
}

.image-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.selection-item {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin: 10px;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
}

.selection-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}

.selection-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-light);
}

.selection-overlay h2 {
  margin: 0;
  text-align: center;
}

.selection-item .selection-overlay {
  opacity: 1;
}

.selection-item:hover .selection-overlay {
  opacity: 0.6;
}

#rotating-flower-container {
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg,
      rgba(35, 1, 12, 0.6) 22.71%,
      rgba(35, 1, 12, 0.6) 37.81%,
      rgba(35, 1, 12, 0.52) 60.73%,
      rgba(188, 156, 169, 0.6) 89.9%);
  border-radius: 85px;
  width: 95%;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem;
}

#rotating-flower-div {
  flex: 0 0 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#rotating-flower-div img {
  width: 100%;
  height: auto;
  animation: spin 8s linear infinite;
  transform-origin: center center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#rotating-flower-text {
  flex: 1;
  color: var(--text-light);
}

#rotating-flower-text h2 {
  font-weight: normal;
  font-size: 2rem;
  margin-bottom: 1rem;
}

#rotating-flower-text p {
  text-align: justify;
  font-size: 1.2rem;
  line-height: 1.5;
}

#selection {
  width: 100%;
  background-image: url("../images/bg1.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 2.5rem 0rem;
}

#selection p {
  font-style: oblique;
  font-size: 1.2rem;
  text-align: center;
  color: var(--accent-color);
  padding: 0.625rem 2.5rem;
}

#order {
  position: relative;
  width: 100%;
  height: 550px;
  background-image: url("../images/bg2.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#order img {
  width: 100%;
  height: 80%;
}

#order a {
  text-decoration: none;
}

#order-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: none;
  border-radius: 20px;
  background-color: var(--primary-dark);
  padding: 1.875rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s ease;
  color: #fff;
  font-size: 2.5rem;
  text-decoration: none;
}

#order-button:hover {
  box-shadow: 0 0 20px rgba(35, 1, 12, 0.7), 0 0 40px rgba(35, 1, 12, 0.5);
}

#order-button img {
  width: 30px;
}

#contact {
  max-width: 800px;
  margin: 50px auto 0 auto;
  padding: 2.5rem;
  background-color: #fff;
  border-radius: 5px;
  color: var(--accent-color);
}

#contact h2 {
  font-size: 2.25rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary-dark);
}

#contact h2 span {
  color: var(--accent-color);
  font-style: italic;
}

form {
  margin-top: 20px;
  background-color: #f9f9f9;
  padding: 2.5rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
  font-weight: bold;
  font-size: 1.125rem;
  display: block;
  margin-bottom: 10px;
  color: #333;
}

label,
input,
textarea {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
textarea {
  width: 95%;
  padding: 1rem;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  font-size: 1rem;
  color: #333;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
textarea:focus {
  border-color: #333;
}

textarea {
  resize: none;
  height: 150px;
}

input[type="submit"] {
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: var(--primary-light);
}

#map-container {
  margin-top: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

#map-container iframe {
  width: 100%;
  height: 300px;
  border: none;
}

#map-container h3 {
  margin-left: 20px;
}

#social-media {
  margin-top: 20px;
  text-align: center;
}

#social-media h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

#social-media ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0rem;
  display: flex;
  justify-content: center;
}

#social-media li {
  margin: 0 10px;
  transition: transform 0.2s ease;
}

#social-media li:hover {
  transform: scale(1.2);
}

#social-media a {
  text-decoration: none;
}

#social-media img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


footer {
  text-align: center;
  padding: 0.625rem;
  background-color: var(--primary-dark);
  color: #fff;
}

#mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 30vh;
  min-height: 200px;
  width: 100%;
  background-color: var(--primary-dark);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  overflow: auto;
  box-sizing: border-box;
}

#mobile-menu.active {
  transform: translateY(0);
}

#mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#mobile-menu li {
  margin: 0;
  width: 100%;
  text-align: center;
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mobile-menu li:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 1px;
  background-color: rgba(188, 156, 169, 0.3);
}

#mobile-menu a {
  text-decoration: none;
  color: var(--text-light);
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: color 0.3s ease, background-color 0.3s ease;
}

#mobile-menu a:hover {
  color: var(--primary-light);
  background-color: rgba(188, 156, 169, 0.1);
}

@media (min-width: 769px) {
  #mobile-menu {
    display: none;
  }
}

@media (max-width: 1000px) {

  #rotating-flower-div {
    display: none;
  }

  #rotating-flower-text {
    width: 100%;
  }

  #rotating-flower-text h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  #rotating-flower-text p {
    font-size: 1rem;
    text-align: center;
  }


  #home-image-div-overlay p {
    font-size: 1.3rem;
  }

  #home-image-div {
    min-height: 500px;
    height: 50vh;
  }

  #selection-button {
    font-size: 1.2rem;
  }

  #title-flowers {
    font-size: 5rem;
  }

  #subtitle-flowers {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  #order {
    height: 300px !important;
    margin-bottom: 50px;
  }

  @keyframes glow {
    0% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgb(33, 3, 23);
    }

    100% {
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 40px rgb(222, 167, 198);
    }
  }

  .image-description p {
    width: unset;
  }

  #navlinks {
    display: none;
  }

  #hamburger {
    display: block;
    margin-right: 2.5em;
    z-index: 1001;
  }

  #title-flowers,
  #subtitle-flowers {
    font-size: 3rem;
    margin: 10px 0;
  }

  #home {
    flex-direction: column-reverse;
    padding: 1.5rem 0rem;
  }

  #title {
    width: 100%;
    float: none;
  }

  #home-image-div {
    width: 80%;
    margin-top: 20px;
    height: 40vh;
    min-height: 350px;
  }

  #home-image-div-overlay {
    width: 60%;
    height: 60%;
  }

  #home-image-div-overlay p {
    font-size: 1.1rem;
  }

  #selection-button {
    padding: 0.3125rem 1rem;
    font-size: 0.9rem;
    border-radius: 10px;
  }

  #information {
    width: 85%;
    border-radius: 30px;
    padding: 1.8rem;
  }

  #information h1 {
    font-size: 1.5rem;
  }

  #information p {
    font-size: 1rem;
  }

  .image-container {
    flex-direction: column;
    align-items: center;
  }

  .selection-item {
    max-width: none;
    width: 80%;
  }

  #order img {
    height: 60%;
  }

  #order-button {
    padding: 1.25rem !important;
    font-size: 1.5rem;
    animation: glow 1.5s infinite alternate ease-in-out;
    bottom: 10%;
    padding: 0.625rem;
    left: 30%;
  }

  #order-button img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 20%;
  }

  #contact {
    max-width: 100%;
    padding: 0.625rem;
  }

  #contact h2 {
    font-size: 1.875rem;
  }

  form {
    padding: 0.625rem;
  }

  input[type="text"],
  textarea {
    padding: 0.5rem;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  #information {
    width: 85%;
    border-radius: 30px;
    padding: 1.8rem;
  }

  #information h1 {
    font-size: 1.8rem;
  }

  #information p {
    font-size: 0.8rem;
  }
}


.error {
  color: red;
  font-size: 0.875rem;
}